@import "tailwindcss";

@theme {
  --color-brand-primary: #cc0000;
  /* Deep Red */
  --color-brand-secondary: #d84315;
  /* Burnt Orange */
  --color-brand-accent: #ffb300;
  /* Gold */
  --color-brand-navy: #ffffff;
  /* Titles */
  --color-brand-gray: #1a1c23;
  /* Dark Charcoal */
  --color-brand-text: #e5e7eb;
  /* Light text */
  --color-brand-subtext: #9ca3af;
  /* Subtext */
}

@layer base {
  body {
    @apply text-brand-text bg-[#0f1115] antialiased font-sans;
  }
}

@layer utilities {
  .hero-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  }
}